<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фибоначчи</title>
</head>
<body>
    <div class="container">       
        <h3>Расчет Фибоначчи</h3>        
        <form action="" method="GET">
            <div >
                <label for="Fib">Введите число</label>
                <input type="number"name="number">
            </div>
           <button type="submit" >посчитать</button>
        </form>
        <div class="d-flex justify-content-center" style="margin-top:50px">
            <h4>Результат: {{ fib_number }} </h4>
        </div>
    </div>

</body>
</html>